<!doctype html>
<title>{% block title %}{% endblock %} - Lupi</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
  <footer>
    <hr>
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="flash {{ category}}">{{ message }}</div>
    <hr>
    {% endfor %}
    {% block footer %}{% endblock %}
  </footer>
</section>