{% extends 'base.html' %}

{% block title %}Least Unique Positive Integer Game{% endblock %}

{% block content %}
<h1>Game rules</h1>
<ul>
    <li>it is a multiplayer game</li>
    <li>each player picks a positive integer</li>
    <li>the lowest unique integer wins</li>
</ul>
<h1>Play</h1>
<form method="POST" action="{{ url_for('lupi_ui.vote') }}">
    {{ form.csrf_token }}
    {% from "_formhelpers.html" import render_field %}
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.number) }}
    </dl>
    <button type="submit">Vote</button>
    </ul>
</form>
<h1>Admin</h1>
<form method="POST" action="{{ url_for('lupi_ui.start_round') }}">
    <button type="submit">start new round</button>
</form>
<br>
<form method="POST" action="{{ url_for('lupi_ui.close_round') }}">
    <button type="submit">close current round</button>
</form>
<h1>Statistics/Info</h1>
<ul>
    <li><a href="{{ url_for("lupi_ui.rounds_history") }}">previous rounds</a></li>
</ul>
{% endblock %}
