{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Least Unique Positive Integer Game{% endblock %}</h1>
  Game rules:
<ul>
    <li>it is a Multiplayer game</li>
    <li>each player picks a positive integer</li>
    <li>the lowest unique integer wins</li>
</ul>
{% endblock %}

{% block content %}
<h1>Play</h1>
<ul>
    <li>vote</li>
</ul>
<h1>Admin</h1>
<ul>
    <li>start new round</li>
    <li>close current round</li>
</ul>
<h1>Statistics/Info</h1>
<ul>
    <li>previous rounds</li>
</ul>
{% endblock %}
